.beacon-1 {
    box-sizing: border-box;
    width: 138px;
    height: 137.48px;
    border: 1px solid #CC9933;
    border-radius: 50%;
    /* background-color: rgba(204, 153, 51, 0.3); */
    /* -moz-box-shadow: inset 0 0 2em #CC9933;
    -webkit-box-shadow: inset 0 0 2em #CC9933;
    box-shadow: inset 0 0 2em #CC9933; */
    position: absolute;
    left: 50%;
    margin-top: -60px;
    margin-left: -70px;
    animation: beacon-1 linear 3s infinite forwards;
    /* animation: beacon-1 4s infinite cubic-bezier(.36, .11, .89, .32); */
    /* Safari 4.0 - 8.0 */
    -webkit-animation: beacon-1 linear 3s infinite forwards;
    opacity: 0;
}

@keyframes beacon-1 {
    from {
        transform: scale(.5, .5);
        opacity: 0.5;
        /* box-shadow: 0 0 0 0 rgba(204, 153, 51, 1) */
    }
    to {
        transform: scale(2.5, 2.5);
        opacity: 0;
        /* box-shadow: 0 0 0 2em rgba(204, 153, 51, 0.2), 0 0 0 3em rgba(204, 153, 51, 0.3), 0 0 0 4em rgba(204, 153, 51, 0.4) */
    }
}


/* Safari 4.0 - 8.0 */

@-webkit-keyframes beacon-1 {
    from {
        transform: scale(.5, .5);
        opacity: 0.5;
        /* box-shadow: 0 0 0 0 rgba(204, 153, 51, 1) */
    }
    to {
        transform: scale(2.5, 2.5);
        opacity: 0;
    }
}