<template>
  <div class="secondary-zapy-background">
    <div class="row row-bottom-0">
      <div>
        <div @click="backArrowClick" class="back-arrow-style"></div>
      </div>
    </div>
    <div class="confirm-mask">
      <div class="row row-bottom-0">
        <div class="s12">
          <div class="center s12 m12 l12 oval-div-mask">
            <div class="oval-div center">
              <div class="confirm-logo"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- check out template -->
      <div v-if="checkOut">
        <div class="row row-bottom-0">
          <div class="s12 m12 l12">
            <div class="checkout-msg center">{{welcome}}</div>
          </div>
        </div>
        <div class="row row-bottom-0">
          <div class="s12 m12 l12">
            <div class="customer-fullname center" style="font-size:20px !important;">{{this.$store.getters.fullName}}</div>
          </div>
        </div>
      </div>
      <!-- Check In Template -->
      <div v-if="checkIn">
        <div class="row row-bottom-0">
          <div class="s12 m12 l12">
            <div class="welcome-text-style center">{{welcome}}</div>
          </div>
        </div>
        <div class="row row-bottom-0">
          <div class="s12 m12 l12">
            <div class="name-style center truncate" style="font-size:20px !important;">{{this.$store.getters.fullName}}</div>
          </div>
        </div>
        <div v-if="welMsg" class="row row-bottom-0">
          <div class="s12 m12 l12">
            <div class="info-box center" style="width:300px;margin-left:auto;margin-right:auto;">{{welMsg}}</div>
          </div>
        </div>
        <div v-if="isShowFields" class="row row-bottom-0">
          <div class="s12 m12 l12">
            <svg class="center" viewBox="0 0 130 1" xmlns="http://www.w3.org/2000/svg">
              <line x1="9" y1="1" x2="120" y2="1" stroke="#E1E1E1" stroke-dasharray="3 3"></line>
            </svg>
          </div>
        </div>
        <div v-if="isShowFields" class="row">
          <div class="s12 m12 l12">
            <div class="info-box center">
              <div>{{this.$store.getters.userInfo.phoneNumber}}</div>
              <div>{{this.$store.getters.userInfo.gender}}</div>
              <div>{{formatDate(this.$store.getters.userInfo.dateOfBirth)}}</div>
              <div class="truncate">{{this.$store.getters.userInfo.jobTitle}}</div>
              <div class="truncate">{{this.$store.getters.userInfo.company.replace('U+002C',',')}}</div>
            </div>
          </div>
        </div>
      </div>
      <!-- Registration Template -->
      <div v-if="!checkOut && !checkIn && !redeemPoints">
        <div class="row row-bottom-0">
          <div class="s12 m12 l12">
            <div class="welcome-text-style center">{{welcome}}</div>
          </div>
        </div>
        <div class="row row-bottom-0">
          <div class="s12 m12 l12">
            <div class="name-style center truncate" style="font-size:20px !important;">{{this.$store.getters.fullName}}</div>
          </div>
        </div>
        <div class="row row-bottom-0">
          <div class="s12 m12 l12">
            <svg class="center" viewBox="0 0 130 1" xmlns="http://www.w3.org/2000/svg">
              <line x1="9" y1="1" x2="120" y2="1" stroke="#E1E1E1" stroke-dasharray="3 3"></line>
            </svg>
          </div>
        </div>
        <div class="row">
          <div class="s12 m12 l12">
            <div class="info-box center">
              <div v-if="isShowPhone">{{this.$store.getters.userInfo.phoneNumber}}</div>
              <div v-if="isShowEmail">{{this.$store.getters.userInfo.email}}</div>
              <div v-if="isShowGender">{{this.$store.getters.userInfo.gender}}</div>
              <div v-if="isShowDob">{{formatDate(this.$store.getters.userInfo.dateOfBirth)}}</div>
              <div v-if="isShowJob" class="truncate">{{this.$store.getters.userInfo.jobTitle}}</div>
              <div v-if="isShowCompany" class="truncate">{{this.$store.getters.userInfo.company.replace('U+002C',',')}}</div>
              <div v-if="isShowInCome" class="truncate">Income: {{this.$store.getters.userInfo.inCome}}</div>                                                                                         
            </div>
          </div>
        </div>
      </div>
      <!-- Heienken Redeem Points Template -->
      <div v-if="redeemPoints">
        <div class="row row-bottom-0">
          <div class="s12 m12 l12">
            <div class="checkout-msg center">Your Points</div>
          </div>
        </div>
        <div class="row row-bottom-0">
          <div class="s12 m12 l12">
            <div class="customer-fullname center" style="font-size:20px !important;">{{points | toCurrency}}</div>
          </div>
        </div>
        <div class="row">
          <div class="s12 m12 l12">
            <div class="info-box center">
              <div><img src="../../themes/heineken/img/chk.png" style="width:20px;height:20px;margin-left:-61px;" /> <span style="position:absolute;margin-top:-4px;margin-left:5px;"> Game 1</span></div>
              <div><img src="../../themes/heineken/img/unchk.png" style="width:20px;height:20px;margin-left:-61px;" /> <span style="position:absolute;margin-top:-4px;margin-left:5px;"> Game 2</span></div>
              <div><img src="../../themes/heineken/img/chk.png" style="width:20px;height:20px;margin-left:-61px;" /> <span style="position:absolute;margin-top:-4px;margin-left:5px;"> Game 3</span></div>
              <div><img src="../../themes/heineken/img/unchk.png" style="width:20px;height:20px;margin-left:-61px;" /> <span style="position:absolute;margin-top:-4px;margin-left:5px;"> Game 4</span></div>                                                                                                      
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-bottom-0">
      <div class="s12 m12 l12 div-confirm-btn-pos">
        <router-link to class="btn-large btn-fullwidth" @click.native="onClick">{{btntext}}</router-link>
      </div>
    </div>
  </div>
</template>
<script>
/* eslint-disable */
import moment from "moment";

export default {
  name: "confirm",
  props: {
    welcome: String,
    btntext: String,
    backURL: String,
    checkIn: Boolean,
    checkOut: Boolean,
    onClick: Function,
    welMsg: String,
    isShowFields: Boolean,
    redeemPoints: Boolean,
    points: Number,
    isShowPhone: Boolean,
    isShowEmail: Boolean,
    isShowGender: Boolean,
    isShowDob: Boolean,
    isShowJob: Boolean,
    isShowCompany: Boolean,
    isShowInCome: Boolean
  },
  methods: {
    backArrowClick() {
      this.$router.push(this.backURL);
    },
    formatDate(value) {
      if (value) {
        return moment(String(value)).format("DD MMM YYYY");
      }
    }
  }
};
</script>