<template>
<div data-app>
    <v-dialog
    ref="dialog"
    :close-on-content-click="false"
    v-model="modal"    
    lazy    
    full-width
    color="white"
    max-width="290"
  >
    <v-text-field
      slot="activator"
      v-model="computedDateFormatted"      
      :label="$t('Registration.dob')"     
      readonly
    ></v-text-field>
    <v-date-picker
      ref="picker"      
      color="header-bg-color"
      header-color="header-bg-color"      
      v-model="date"     
      :max="new Date('2004-12-31').toISOString().substr(0, 10)"     
      min="1940-01-01"
      @change="save"      
    ></v-date-picker>
    </v-dialog>
</div>
</template>
<script>
/* eslint-disable */
import Vue from "vue";
import Vuetify from "vuetify";
import "vuetify/dist/vuetify.min.css";

Vue.use(Vuetify);

export default {
  data: () => ({
    date: null,    
    menu: false,
    modal: false
  }),
  computed:{
    computedDateFormatted(){
       return this.formatDate(this.date)     
    }
  },
  watch: {
    modal(val) {
      val && this.$nextTick(() => (this.$refs.picker.activePicker = "YEAR"));
    }
  },
  created() {     
    this.date = this.$store.getters.userInfo.dateOfBirth;
  },
  methods: {
    save(date) {      
      this.$parent.dateOfBirth = date;
      this.$refs.dialog.save(date);
    },
    formatDate(date){
      if(!date) return null
      // const monthName = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
      
      const [year, month ,day] = date.split('-')
      // var fullMonthName = monthName[new Date(date).getMonth()]      
      return `${day}/${month}/${year}`
    }
  }
};
</script>
