<template >
  <div class="zapy-background">
    <div class="wrapper-view">
      <div class="row row-bottom-0">
        <div class="center s12 m12 l12">
          <div class="logo-size"></div>
        </div>
      </div>
      <div class="row row-bottom-0" >
        <div class="center s12 m12 l12">
          <div class="landing-title">{{this.$store.getters.landingInfo.title}}</div>                   
        </div>
      </div>
      <div v-if="isConfirm" class="row row-bottom-0">
        <div class="center s12 m12 l12 confirmation-alert">
          <div class="confirmation-text">{{ $t("Confirmation.title") }}</div>
        </div>
      </div>
      <div class="row">
        <div class="center col s12 m12 l12 tap-to-purchase-div">
            <div class="beacon-1" style="animation-delay: 0s"></div>
            <div class="beacon-1" style="animation-delay: 1s"></div>
            <div class="beacon-1" style="animation-delay: 2s"></div>
            <div class="beacon-1" style="animation-delay: 3s"></div>
          <div class="tap-to-purchase">
            <router-link to @click.native="tapToPurchaseClick">
              <div>{{this.$store.getters.landingInfo.tapText}}</div>
            </router-link>                    
          </div>
           
        </div>
      </div>
    </div>
    <div v-if="this.$store.getters.landingInfo.showCancel" class="row row-bottom-0">
      <div class="cancel-div" @click="cancelClick">Cancel</div>
    </div>
    <!-- <div id="brand_logo_info" class="brand_logo_legal center">
            * Brand logos are used for demonstration purposes only *
    </div>-->
  </div>
</template>

<script>
// import i18n from '../../language/index'
export default {
  name: "SharedComponentIndex",
  props: ["isConfirm"],
  methods: {
    tapToPurchaseClick() {
      this.$router.push(this.$store.getters.landingInfo.linkURL);
    },
    cancelClick() {
      this.$router.push(this.$store.getters.landingInfo.cancelURL);
    }
  }
};
</script>
<style>
/* .brand_logo_legal {
  color: whitesmoke;
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  opacity: 0.5;
} */
</style>
