<template>
        <transition name="modal">            
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">

                <div class="modal-header center">
                    <slot name="header">             
                    </slot>
                </div>

                <div class="modal-body center">
                    <slot name="body">
                    
                    </slot>
                </div>

                <div class="modal-footer">
                    <slot name="footer">
                                            
                    </slot>
                </div>
                </div>
            </div>
        </div>
    </transition>   
</template>
<script>
export default {
  name: "modal"
};
</script>

