<template>
    <div class="order-header-bg-color row row-bottom-0" >
            <div style="height:50px !important;"  >                                  
                <div  v-if="backurl"  @click="clickBack" class="back-arrow-style"></div>               
            </div>
            <div class="center s12 m12 l12 ">
                <div>                   
                    <div class="order-logo"></div>
                </div>
            </div>           
    </div>
</template>
<script>
export default {
    name: 'order-header',
    props: ['backurl'],
    methods: {
        clickBack(){
            this.$router.push(this.backurl)
        }
    }
}
</script>

