<template>
    <div class="zapy-background-color">

      <div class="center">

        <div >
            <div class="preloader-logo-size" v-bind:style=" { 'margin-top': marginTop }" ></div>
            <!-- <div class="progress" style="margin-left:auto;margin-right:auto;">
              <div class="indeterminate"></div>
            </div> -->
            <div class="preloader-wrapper big active preloader-size">
              <div class="spinner-layer spinner-color">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
        </div>
       
      </div>
      
    </div>
</template>
<script>
export default {
  name: "preloader",
  props: [ 'marginTop']  
}
</script>

