<template>
    <div>
        <button class="round-button" @click="voteMe">Product<br><span class="product-name">{{name}}</span></button>
    </div>
</template>

<script>
export default {
    props: ['name'],
    methods: {
        voteMe() {
            console.log(this.name);
            // var element = document.getElementsByClassName('round-button')[0];
            // element.classList.add('active');
            
            // Modal
        }
    }
}
</script>

<style scoped>
.round-button{
  height: 140px;
  width: 140px;
  background: #f4f4f4;
  color: #dd5555;
  border-radius: 50%;
  font-family: Zapy-Bold;
  font-size: 18px;
}

.active{
  height: 140px;
  width: 140px;
  background: #dd5555; 
  color: #ffffff;
  border-radius: 50%;
  font-family: Zapy-Bold;
  font-size: 18px;
}

.product-name{
  font-family: Zapy-Light;
  font-size: 48px;
}
</style>