<template>
<div class="zapy-background"  >        
        <div>
            <div class="row row-bottom-0">
                <div class="s12" >
                    <div class="center s12 m12 l12">
                        <div class="center">
                             <div class="logo-size logo-margin-top"></div>
                        </div>                       
                    </div>
                </div>
            </div>
            <!-- check out template -->
            <div >
                <div class="row row-bottom-0">
                    <div class="s12 m12 l12" >
                        <div class="landing-title title-margin-top center">{{title}}</div>
                    </div>                
                </div>
                <div class="row row-bottom-0">
                    <div class="s12 m12 l12" >
                        <div class="scan-here-text center">{{infotext}}</div>
                    </div>                
                </div>
                <div class="row row-bottom-0">
                    <div class="s12 m12 l12" style="text-align:center;" >
                        <div><i class="material-icons down-arrow"  >arrow_drop_down</i></div>
                    </div>
                </div>
                <div class="row row-bottom-0">
                    <div class="s12 m12 l12" style="text-align:center;" >
                        <div><i class="material-icons down-arrow" style="margin-top:-60px;" >arrow_drop_down</i></div>
                    </div>
                </div>
            </div>                 
        </div>        
    </div>
</template>
<script>
/* eslint-disable */
import moment from "moment";

export default {
  name: "splash",
  props: {
    title: String,
    infotext: String   
  }
};
</script>