<template>
    <!-- <div  class="zapy-background">
        <div class="row row-bottom-0">
            <div class="center s12 m12 l12 ">
                <div class="logo-size complete-logo">
                   
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="lucky-draw-complete" >
                    <div class="row row-bottom-0" style="padding-top:1px;">
                        <div class="complete-icon lucky-draw-complete-icon">

                        </div>
                    </div>
                    <div class="row">                        
                        <div class="congratulations center">Done!</div>
                    </div>
                    
                    <div class="row row-bottom-0">
                        <div class="s12 m12 l12 center">
                            <div class="btn-new">
                                    <router-link to="" class="btn-large btn-done" @click.native="done" >Done</router-link>
                            </div>     
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
     <LandingPage></LandingPage>
</template>
<script>
import LandingPage from '@/components/shared'
export default {    
  name: "complete",
  components: {LandingPage},
  mounted() {
    var landingObj = {
      title: "Lucky Draw",
      tapText: "Done!",
      linkURL: "/",
      showCancel:false
    };
    this.$store.commit("updateLandingInfo", landingObj);
  },
  methods:{
      done(){
          this.$router.push('/')
      }
  }
};

</script>

