<template >
<div>
  <q-r-landing-page v-if="isQRCode" :title="$t('LuckyDraw.title')" :btntext="$t('Buttons.clickToScanButton')"></q-r-landing-page>
  <landing-page v-else></landing-page>
</div>    
</template>
<script>
import LandingPage from '@/components/shared'
import QRLandingPage from '@/components/shared/QR'
export default {
  name: "Index",
  components: {
      LandingPage,
      QRLandingPage
  },
  data(){
    return {
      isQRCode: this.$store.getters.isQRCode
    }
  },
  mounted() {
    var landingObj = {
      title: this.$t('LuckyDraw.title'),
      tapText: this.$t('Beacon.title'),
      linkURL: "/luckydraw/start",
      showCancel:false
    };
    this.$store.commit("updateLandingInfo", landingObj);
  }
};
</script>