<template>
  <div class="secondary-zapy-background">
    <div class="row row-bottom-0">
      <div class="center s12 m12 l12">
        <div class="welcome-text">{{ $t('LuckyDraw.welcome') }}</div>
      </div>
    </div>
    <div class="row row-bottom-0">
      <div class="center s12 m12 l12">
        <div class="customer-name-style">Louise Hunt</div>
      </div>
    </div>
    <div class="row row-bottom-0">
      <div class="center s12 m12 l12">
        <div id="slot" class="ready-sloat-bg center">
          <div id="desp" class="description">{{ $t('LuckyDraw.yourNumber') }}</div>
          <div style="margin-top:85px;">
              <!-- Image Numbers Here  -->
            <span v-for="image in imageObject" :key="image">
              <span v-html="image"></span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row"></div>
    <div class="row row-bottom-0">
      <div class="center s12 m12 l12">
        <div id="start" class="btn btn-large btn-start" @click="startClick()">{{ $t('Buttons.start') }}</div>
      </div>
    </div>
  </div>
</template>
<script>
/* eslint-disable */
export default {
  name: "start",
  data() {
    return {
      counter: 0,
      numberOfDigit: 3,
      imageList: [],
      locknumber: false,
      winnernumber: ""
    };
  },
  computed: {
    imageObject: function() {
      /**
       * Rendering Number Images with array
       */
      let digitImages = [];
      for (var i = 0; i < this.numberOfDigit; i++) {
        digitImages.push(
          `<img alt='' id='digit` +
            i +
            `' name='digit` +
            i +
            `' src='' class='lucky-draw-number-images'/>`
        );
      }
      let jsonParse = JSON.stringify(digitImages);
      return JSON.parse(jsonParse);
    }
  },
  mounted() {
    //eslint-disable-next-line
    //console.log("Image Object", this.imageObject);

    this.setImageURL();
    var desp = document.getElementById("desp");
    desp.classList.add("hide-start");

    /** Below is for locking winner number
     * give locknumber and winnernumber
     */

    this.locknumber = true;
    this.winnernumber = "742";
  },
  methods: {
    setImageURL() {
      var imgDirectory = "./img/lucky-draw/";
      this.imageList = new Array();
      for (var i = 0; i < 10; i++) {
        this.imageList[i] = imgDirectory + i + ".png";
        new Image().src = this.imageList[i];
      }

      /**
       * Assign Images Src
       */
      for (var i = 0; i < this.numberOfDigit; i++) {
        document.getElementById("digit" + i).src = this.imageList[0];
      }
    },
    randomNumber() {
      var luckynumber = "",
        imageList = this.imageList,
        counter = this.counter,
        locknumber = this.locknumber,
        winnernumber = this.winnernumber,
        numberOfDigits = this.numberOfDigit;

        let self = this

      return new Promise(function(resolve) {
        var btnstart = document.getElementById("start");

        var Random = setInterval(() => {
          counter++;
          var firstDigi, secondDigi, thirdDigi, fourthDigi;

          /**
           * Calculating Random Number & Assign to the images
           */
         
          var spinningNumber = [];
          for (var i = 0; i < numberOfDigits; i++) {
            if (i === 0) {
              spinningNumber[i] = Math.floor(Math.random() * 9);
            } else spinningNumber[i] = Math.floor(Math.random() * 9 + 1);
            document.getElementById("digit" + i).src =
              imageList[spinningNumber[i]];
          }          

          if (counter > 30) {
            /**
             * Locking Winner Number here
             */
            if (locknumber) {
              var numbers = winnernumber.split("");
              /**
               * rewrite to the img src with locknumber
               */

              //eslint-disable-next-line
              //console.log("Winning Number", numbers);
              
              /**
               * Assign Image Src
               * Replace path string with Empty String
               * Replace extension with Empty String
               * and assign to LuckyNumber
               */
              for (var i = 0; i < numberOfDigits; i++) {
                document.getElementById("digit" + i).src = imageList[numbers[i]];
                 let number = imageList[numbers[i]].replace(
                  /\.\/img\/\lucky-draw\//g,
                  ""
                );
                luckynumber += number.replace(".png", "");;
              }
             
            } else {

              /**
               * Assign Image Src
               * Replace path string with Empty String
               * Replace extension with Empty String
               * and assign to LuckyNumber
               */

              for (var i = 0; i < numberOfDigits; i++) {
                let number = imageList[spinningNumber[i]].replace(
                  /\.\/img\/\lucky-draw\//g,
                  ""
                );
                luckynumber += number.replace(".png", "");
              }
                       
            }

             //eslint-disable-next-line
            //console.log("Lucky Draw Number", luckynumber);

            counter = 0;
            clearInterval(Random);
            resolve(luckynumber);
            btnstart.classList.remove("hide-start");
            desp.classList.remove("hide-start");
            btnstart.innerText = self.$t('Buttons.clickToScanButton');
          }
        }, 100);
      });
    },
    startClick() {
      var btnstart = document.getElementById("start");
      console.log("Button Start", btnstart.textContent.toLowerCase())
       console.log("Button Click To Scan", this.$t('Buttons.clickToScanButton'))
      if (btnstart.textContent.toLowerCase() === this.$t('Buttons.clickToScanButton')) {
        this.$router.push("/luckydraw/tapyourwrisband");
      } else {
        var slot = document.getElementById("slot");

        slot.classList.add("slot-bg");
        btnstart.classList.add("hide-start");
        this.randomNumber().then(res => {
          //console.log("Final Lucky Number", res);
          /** Update Lucky Number in store */
          this.$store.commit("updateLuckyNumber", res);
        });
      }
    }
  }
};
</script>