<template >
<div>
  <q-r-scan v-if="isQRCode" title="Luky Draw" isConfirm></q-r-scan>
  <landing-page v-else isConfirm=true></landing-page>  
</div>
    
</template>
<script>
import LandingPage from '@/components/shared'
import QRScan from '@/components/shared/QR/readQR'
export default {
  name: "Index",
  components: {
      LandingPage,
      QRScan
  },
  data(){
    return {
      isQRCode: this.$store.getters.isQRCode
    }
  },
  mounted() {
    var landingObj = {
      title: this.$t("LuckyDraw.title"),
      tapText: this.$t("Beacon.title"),
      linkURL: "/luckydraw/done",
      showCancel:false
    };
    this.$store.commit("updateLandingInfo", landingObj);
  }
};
</script>