<template>
  <div>
    <q-r-landing-page v-if="isQRCode" :title="$t('QA.title')" :btntext="$t('Buttons.clickToScanButton')"></q-r-landing-page>
    <landing-page v-else :title="$t('QA.title')"></landing-page>
  </div>
</template>
<script>
/* eslint-disable */
import LandingPage from "@/components/shared";
import QRLandingPage from "@/components/shared/QR/";
import QuestionData from "@/data/questions.json";
export default {
  name: "QA",
  components: {
    LandingPage,
    QRLandingPage
  },
  data() {
    return {
      isQRCode: this.$store.getters.isQRCode,
      data: QuestionData,
      QuestionCount: this.$store.getters.questionCount,
    };
  },
  mounted() {

    /**
     * Set Question Index to variable
     */
    let QuestionIndex = this.$store.getters.questionIndex;
    //console.log("Questions Count", this.data.length);

    /**
     * Check question count if 0 then Set total Questions count in state variable
     */
    if (this.QuestionCount === 0) this.$store.commit("updateQuestionCount", this.data.length);

    /**
     * Get Question by Question Index
     */
    let QuestionData = this.data[Object.keys(this.data)[QuestionIndex]];
    let linkURLbyType = "";

    //console.log("Question Type", QuestionData.type);

    /**
     * Checking Question Type and redirect
     */
    if (QuestionData.type === "type1") linkURLbyType = "/qa/type1";
    else if (QuestionData.type === "type2") linkURLbyType = "/qa/type2";
    else if (QuestionData.type === "type3") linkURLbyType = "/qa/type3";

    let landingObj = {
      title: this.$t("QA.title"),
      tapText: this.$t("Beacon.title"),
      linkURL: linkURLbyType
    };
    this.$store.commit("updateLandingInfo", landingObj);

    let QuestionObj = QuestionData
    this.$store.commit("updateQuestionInfo", QuestionObj)
  }
};
</script>