<template>
  <div class="zapy-background">
    <div>
      <div class="row row-bottom-0">
        <div class="s12">
          <div class="center s12 m12 l12">
            <div class="center">
              <div class="logo-size logo-margin-top"></div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="row">
          <div class="s12 m12 l12">
            <div class="points-title center">You've collected {{questionPoints}} points!</div>
          </div>
        </div>
        <div v-if="!isQRCode" class="row">
          <div class="center col s12 m12 l12 tap-to-purchase-div">
            <div class="beacon-1" style="animation-delay: 0s"></div>
            <div class="beacon-1" style="animation-delay: 1s"></div>
            <div class="beacon-1" style="animation-delay: 2s"></div>
            <div class="beacon-1" style="animation-delay: 3s"></div>
            <div class="tap-to-purchase">
              <router-link to @click.native="clickToProceed">
                <div>{{tapToClick}}</div>
              </router-link>
            </div>
          </div>
        </div>
        <div v-else class="row">
          <div class="center s12 m12 l12">
            <div class="center">
              <!-- Replace android Camera app here  -->
              <div class="QR-rectangle" @click="clickToProceed"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    <modal v-if="showModal">
      <div slot="body" class="row">
        <div class="mask">
          <div class="your-current-points">Your current points:</div>
          <div class="points-num">{{questionPoints}}</div>
          <div class="thanks-text">Thank you for playing</div>
          <div class="enjoy-text">Enjoy the rest of the event!</div>
        </div>
      </div>
      <div slot="footer" class="center" style="padding-top:30px;">
        <a href="#" class="btn btn-large btn-modal-continue btn-fullwidth" @click="clickDone">done</a>
      </div>
    </modal>
  </div>
</template>

<script>
/* eslint-disable */
import modal from "@/components/shared/modal";
export default {
  name: "proceed",
  components: {
    modal
  },
  data() {
    return {
      isQRCode: this.$store.getters.isQRCode,
      questionPoints: this.$store.getters.questionPoints,
      tapToClick: "Scan to proceed",
      showModal: false
    };
  },
  methods: {
    clickToProceed() {
      //this.$router.push('/qa/thankyou');
      this.showModal = true;
    },
    clickDone() {
      this.showModal = false;
      this.$store.commit("updateQuestionPoints", 0);
      this.$store.commit("updateQuestionIndex", 0);
      this.$store.commit("updateQuestionCount", 0);
      this.$router.push("/");
    }
  }
};
</script>