<template>
  <div class="secondary-zapy-background">
    <div class="row row-bottom-0">
      <div class="center s12 m12 l12">
        <div class="welcome-text">{{ $t("QA.welcome") }}</div>
      </div>
    </div>
    <div class="row row-bottom-0">
      <div class="center s12 m12 l12">
        <div class="customer-name-style">Tony Stark</div>
      </div>
    </div>
    <div class="row" style="margin-bottom:143px;">
      <div class="center s12 m12 l12">
        <div class="questions">{{ QuestionObj.question }}</div>
      </div>
    </div>
    <div v-for="(item, index) in QuestionObj.answers" :key="index" class="row row-bottom-10">
      <div class="center s1 2m12 l12">
        <div>
          <a
            :id="index"
            href="#"
            class="waves-effect btn btn-large btn-answer"
            @click="clickAnswers(item)"
          >{{item}}</a>
        </div>
      </div>
    </div>
    <!-- <div class="row row-bottom-10">
      <div class="center s1 2m12 l12">
        <div>
          <a
            id="answerb"
            href="#"
            class="waves-effect btn btn-large btn-answer"
            @click="clickAnswers('B')"
          >{{QuestionObj.answers.answer_2}}</a>
        </div>
      </div>
    </div>
    <div class="row row-bottom-0">
      <div class="center s1 2m12 l12">
        <div>
          <a id="answerc" href="#" class="waves-effect btn btn-large btn-answer" @click="clickAnswers('C')">{{QuestionObj.answers.answer_3}}</a>
        </div>
      </div>
    </div>-->
    <!--  -->
    <modal v-if="showModal">
      <div slot="body" class="row">
        <div id="infoIcon" :class="[iconClass]"></div>
        <div class="modal-msg-1">{{message1}}</div>
        <div class="modal-msg-2">{{message2}}</div>
      </div>
      <div slot="footer" class="center checkedin-text-style">
        <a
          href="#"
          class="btn btn-large btn-modal-continue btn-fullwidth"
          @click="clickContinue"
        >{{btnText}}</a>
      </div>
    </modal>
  </div>
</template>
<script>
/* eslint-disable */
import modal from "@/components/shared/modal";
export default {
  name: "QA-Type-1",
  components: {
    modal
  },
  data() {
    return {      
      QuestionObj: this.$store.getters.questionInfo,
      QuestionCount: this.$store.getters.questionCount,
      QuestionIndex: this.$store.getters.questionIndex,
      isAnswer: false,
      showModal: false,
      message1: "",
      message2: "",
      btnText: "",
      iconClass: ""
    };
  },
  mounted() {},
  methods: {
    clickAnswers(answer) {
      var btnAnswers = "";
     // console.log("btn", answer);
    
      /**
       * Cheeck correct answer by button param answer
       * Set True to isAnswer if is correct answer is which you click
       * Set current button disable if is not correct answer
       */
      if (answer === this.QuestionObj.correct_ans) {
        this.isAnswer = true;
        //console.log("Is Answer", this.isAnswer);
      } else {
        this.isAnswer = false;
        btnAnswers = event.target;
        btnAnswers.classList.add("btn-answer-disabled");
      }


      /**
       * Delay to PopUp modal to access DOM element from hide
       */
      setTimeout(() => {
        if (!this.isAnswer) {
          this.message1 = this.$t("QA.incorrect");
          this.message2 = this.$t("QA.pleaseTryAgain");
          this.btnText =  this.$t("Buttons.clickToChooseAgain");
          this.showModal = true;
          this.iconClass = "incorrect-icon";
        } else {
          this.message1 = this.$t("QA.correct");
          this.message2 = this.$t("QA.welldone");
          this.btnText =  this.$t("Buttons.clickToProceed");
          this.showModal = true;
          this.iconClass = "correct-icon";
        }
      }, 200);
    },
    clickContinue() {
      /**
       * Hide Modal
       * Updated Question Points in state variable
       * Check Questions still avaiable by QuestionCout > 0
       * If Questions still avaiable to continue then update QuestionIndex, QuestionCount and redirect to start page
       * If Question not avaiable go to last page and check your total points
       */
      this.showModal = false;
      if (this.isAnswer){
        this.$store.commit("updateQuestionPoints", this.QuestionObj.points);
        //console.log('Question Object', this.QuestionObj)
        if (this.QuestionCount -1 > 0) {
            this.$store.commit("updateQuestionIndex", this.QuestionIndex + 1);
            this.$store.commit("updateQuestionCount", this.QuestionCount - 1);
            this.$router.push('/qa')  
        }
        else {
          this.$router.push('/qa/proceed')
        }                
      }
     
    }  
  }
};
</script>