<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Overpass|Roboto" rel="stylesheet"> -->
    <!-- <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet"> -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="google-signin-client_id" content="533089138598-tgl9oa478vt3jsbapkp8bbso6nh5pv3s.apps.googleusercontent.com">
    <link rel="icon" href="./favicon.png">
    <!-- <link rel='preload' href='./fonts/Overpass-Regular.ttf' as='font'>
    <link rel='preload' href='./fonts/Overpass-Bold.ttf' as='font'>
    <link rel='preload' href='./fonts/Overpass-Light.ttf' as='font'>
    <link rel='preload' href='./fonts/Overpass-SemiBold.ttf' as='font'>
    <link rel=preload href='./fonts/MaterialIcons-Regular.ttf' as='font'>
    <link rel=preload href='./fonts/MaterialIcons-Regular.woff2' as='font'> -->
    <!-- <link href="<%= BASE_URL %>./css/custom.css" rel="stylesheet"> -->

    <title>Zapy</title>
</head>

<body>
    <div id="app"></div>
    <!-- built files will be auto injected -->

    <!--Import jQuery before materialize.js-->
    <script src="./js/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="./js/materialize.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://apis.google.com/js/api:client.js"></script>
</body>

</html>