<template>
    <div>
        <q-r-landing-page v-if="isQRCode" title="Voting" btntext="Click to scan"></q-r-landing-page>
        <landing-page v-else></landing-page>
    </div>
</template>

<script>
/* eslint-disable */
import LandingPage from '@/components/shared'
import QRLandingPage from '@/components/shared/QR'

export default {
    components: {
        QRLandingPage,
        LandingPage
    },
    data() {
        return{
            isQRCode: this.$store.getters.isQRCode
        }
    },
    mounted() {
        /*
            Customize text for the voting module
        */
        var votingInfo = {
            title: 'Voting',
            tapText: this.$store.getters.beaconText,
            linkURL: '/vote'
        }
        this.$store.commit('updateLandingInfo',votingInfo)
    }
}
</script>