<template>
    <div class="zapy-background">
        <div class="row row-bottom-0">
            <div class="center col s12 m12 l12">
                <div class="voting-welcome-text">Welcome</div>
            </div>
        </div>
        <div class="row row-bottom-0">
            <div class="col s12 m12 l12">
                <div class="voting-customer-name-style">Troye S</div>
            </div>
        </div>
        <div class="row row-bottom-0">
            <div class="col s12 m12 l12">
                <div class="vote-title">Let's vote!</div>
            </div>
        </div>
        <div class="center row row-bottom-0">
            <div class="col s12 m12 l12">
                <button type="button" class="round-button" @click="voteFirst('A')">Product<br><span class="vote-product-name">{{data[0].firstChoice}}</span></button>
                <button type="button" class="round-button" @click="voteSecond('B')">Product<br><span class="vote-product-name">{{data[0].secondChoice}}</span></button>
            </div>
        </div>
        <div class="center row row-bottom-0">
            <div class="col s12 m12 l12">
                <button type="submit" class="vote-button" @click="clickVote" disabled>Send</button>
            </div>
        </div>
        <modal v-if="showModal">
            <div slot="body">
                <div :class="iconClass"></div>
                <div class="modal-msg-1">{{message1}}</div>
                <div class="modal-msg-2">{{message2}}</div>
            </div>
            <div slot="footer">
                <a
                    href="#" 
                    class="btn btn-large btn-modal-continue btn-fullwidth"
                    @click="backToHome"
                >{{btnText}}</a>
            </div>
        </modal>
    </div>
</template>

<script>
/* eslint-disable */
import modal from '@/components/shared/modal'
import voteData from '@/data/vote.json'

export default {
    components: {
        modal
    },
    data() {
        return {
            data: voteData,
            showModal: false,
            iconClass: '',
            message1: 'Thank you!',
            message2: 'Your vote has been collected',
            btnText: 'Back to home'
        }
    },
    methods: {
        voteFirst(val) {
            console.log('Vote', val);
            /*
                Add active class to first button
                Remove active class from second button
                Enable send button
            */
            var firstBtn = document.getElementsByClassName('round-button')[0];
            firstBtn.classList.add('active');
            var secondBtn = document.getElementsByClassName('round-button')[1];
            secondBtn.classList.remove('active');
            document.getElementsByClassName('vote-button')[0].disabled = false;
        },
        voteSecond(val) {
            console.log('Vote', val);
            /*
                Add active class to second button
                Remove active class from first button
                Enable send button
            */
            var firstBtn = document.getElementsByClassName('round-button')[0];
            firstBtn.classList.remove('active');
            var secondBtn = document.getElementsByClassName('round-button')[1];
            secondBtn.classList.add('active');
            document.getElementsByClassName('vote-button')[0].disabled = false;
        },
        clickVote() {
            /*
                Show modal after sending vote
            */
            setTimeout(() => {
                this.showModal = true;
                this.iconClass="correct-icon";
            }, 200);
        },
        backToHome() {
            /*
                Back to home
            */
            this.$router.push('/');
        }
    }
}
</script>

<style scoped>
/* .btn-vote-text{
    font-family: Zapy-Regular;
    font-size: 14px;
    letter-spacing: 0.31px;
} */

/* .voting-welcome-text{
    color: #ffffff;
    font-family: Zapy-Regular;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin-top: 62px;
}

.voting-customer-name-style{
    color: #ffffff;
    font-family: Zapy-Bold;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.4px;
    margin-top: 8px;
    text-align: center;
}

.vote-title{
    font-family: Zapy-Light;
    font-size: 34px;
    line-height: 43px;
    letter-spacing: 0.76px;
    text-align: center;
    margin-top: 96px;
    margin-bottom: 30px;
    color: #ffffff;
}

.round-button{
    height: 140px;
    width: 140px;
    background: #f4f4f4;
    color: #dd5555;
    border-radius: 50%;
    font-family: Zapy-Bold;
    font-size: 18px;
}

.round-button:first-child{
    margin-right: 29px;
}

.round-button.active{
    background: #dd5555; 
    color: #ffffff;
}

.vote-product-name{
    font-family: Zapy-Light;
    font-size: 48px;
}

.vote-button{
    height: 50px;
    width: 280px;
    background: #d65e5e; 
    color: #ffffff;
    border-radius: 0;
    font-family: Zapy-SemiBold;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 115px;
}

.vote-button:disabled{
    background: #cccccc; 
    color: #ffffff;
} */
</style>