<template>
  <div>
    <ConfirmPage
      v-if="isQRCode"
      :welcome="$t('CheckOut.seeYou')"
      :btntext="$t('CheckOut.done')"
      backURL="/scanqr"
      :checkOut="true"
      :onClick="confirmClick"
    ></ConfirmPage>
    <ConfirmPage
      v-else
      :welcome="$t('CheckOut.seeYou')"
      :btntext="$t('CheckOut.done')"
      backURL="/"
      :checkOut="true"
      :onClick="confirmClick"
    ></ConfirmPage>
    <!-- Check Out Modal -->
    <modal v-if="showModal">
      <div slot="body" class="row row-bottom-0">
        <div class="complete-icon checkedin-icon"></div>
      </div>
      <div slot="footer" class="center checkedin-text-style" style="padding-bottom:20px;">
        {{ $t('CheckOut.checkedOut') }}
        <div class="checkin-time center">{{currentTime}}</div>
      </div>
    </modal>
    <!-- Already Check Out Modal -->
    <modal v-if="showAldModal">
      <div slot="body" class="row row-bottom-0">
        <div class="warning-icon checkedin-icon"></div>
      </div>
      <div
        slot="footer"
        class="center checkedin-text-style"
        style="padding-bottom:40px;"
      >{{ $t('CheckOut.alreadyCheckOut') }}</div>
    </modal>
  </div>
</template>
<script>
/* eslint-disable */
import ConfirmPage from "@/components/shared/confirm";
import modal from "@/components/shared/modal";
import moment from "moment";
export default {
  name: "confirm",
  components: {
    ConfirmPage,
    modal
  },
  data() {
    return {
      showModal: false,
      showAldModal: false,
      currentTime: moment(Date.now()).format("LT"),
      isQRCode: this.$store.getters.isQRCode
    };
  },
  mounted() {
    var userObject = {
      firstName: "Aung Myo",
      lastName: "Hlaing",
      phoneNumber: "",
      gender: "",
      jobTitle: "",
      company: "",
      nationality: "",
      dateOfBirth: null
    };
    // this is update user data in Vuex Store
    this.$store.commit("addUserInfo", userObject);
  },
  methods: {
    confirmClick() {
      /** Confirm Logic here */
      //console.log('Confirm Click');
      this.showModal = true;
      //this.showAldModal = true;
      setTimeout(() => {
        this.showModal = false;
        //this.showAldModal = false;
        this.$router.push("/");
      }, 2000);
    }
  }
};
</script>