<template>
<div>
  <q-r-landing-page v-if="isQRCode" :title="$t('CheckOut.title')" :btntext="$t('Buttons.clickToScanButton')"></q-r-landing-page>
  <landing-page v-else></landing-page>
</div>
  
</template>
<script>
import LandingPage from "@/components/shared";
import QRLandingPage from "@/components/shared/QR"
export default {
  name: "checkout",
  components: {
    LandingPage,
    QRLandingPage
  },
  data(){
    return {
      isQRCode: this.$store.getters.isQRCode
    }
  },
  mounted() {
    var landingObj = {
      title: this.$t('CheckOut.title'),
      tapText: this.$t('Beacon.title'),
      linkURL: "/checkoutconfirm"
    };
    this.$store.commit("updateLandingInfo", landingObj);
  }
};
</script>