<template>
<div class="zapy-background"  >        
        <div>
            <div class="row row-bottom-0">
                <div class="s12" >
                    <div class="center s12 m12 l12">
                        <div class="center">
                             <div class="logo-size logo-margin-top"></div>
                        </div>                       
                    </div>
                </div>
            </div>            
            <div >
                <div class="row row-bottom-0">
                    <div class="s12 m12 l12" >
                        <div class="landing-title center">{{title}}</div>                                                
                    </div>                
                </div>                
                <div class="row row-bottom-0">
                    <div class="s12 m12 l12" style="text-align:center;" >
                        <div>
                            <a class="btn btn-large btn_click_to_scan" @click="clickToScan" >{{btntext}}</a>
                        </div>
                    </div>
                </div>
            </div>                 
        </div>        
    </div>
    <!-- <div>
        <scan-qr  />
    </div> -->
</template>

<script>
/* eslint-disable */
import moment from "moment";
import scanQr from "./readQR";

export default {
  name: "splash",
  props: {
    title: String,
    btntext: String   
  },
  components:{
      scanQr
  },
  methods:{
      clickToScan(){        
          this.$router.push('/scanqr')
      }
  }
};
</script>