<template>
  <div class="zapy-background">
    <div>
      <div class="row row-bottom-0">
        <div class="center s12 m12 l12">
          <div class="center">
            <div class="logo-size logo-margin-top"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="center s12 m12 l12">
          <div class="center">
            <div class="scan-title center">{{title}}</div>
          </div>
        </div>
      </div>
      <div v-if="isConfirm" class="row row-bottom-0">
        <div class="center s12 m12 l12 confirmation-alert QR-confirmation-alert">
          <div class="confirmation-text">{{ $t("Registration.confirmation") }}</div>
        </div>
      </div>
      <div class="row">
        <div class="center s12 m12 l12">
          <div class="center">
            <!-- Replace android Camera app here  -->
            <div class="QR-rectangle"  @click="clickQR"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="center s12 m12 l12">
          <div class="center">
            <div class="msg-info">{{ $t("Registration.QRCodeDescription") }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "readQR",
  props: {    
    isConfirm: Boolean
  },
  data(){
    return{
      title: this.$store.getters.landingInfo.title
    }
  },
  methods:{
    //Replace this function with after QR Read Correctly 
    clickQR(){     
      this.$router.push(this.$store.getters.landingInfo.linkURL)
    }
  }
};
</script>

