<template>
    <div class="body-bg">
        <div class="row">
            <div class="col s12 m12 l12 center">
                <div class="company-logo"></div>               
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="row container-mask">
                    <div class="col s12 m12 l12 col-padding-0">                       
                        <div class="banner">
                            <div class="banner-title center">SANSIRI</div>
                             <div class="banner-subtitle center">Thank you for your visiting!</div>
                        </div>
                        <div class="mail-msg">
                            Dear Customer, <br/><br/>

                            We would like to thank you for visiting our booth today at the Housing & Condo Expo at Bitec Bang Na.<br/>
                            We noticed that you were interested Unit A & Unit B.<br/>
                            We have attached the link with more details regarding both units in this message.<br/><br/> 

                            Please click the link below for more information and how to get in touch with us for additional information.<br/>
                            <a href="https://www.sansiri.com/en/" target="_blank">https://www.sansiri.com/en/</a><br/><br/><br/>

                            Yours respectfully <br/>
                            Sansiri Public Co. Ltd.<br/>
                            
                        </div>
                        <!-- <div>
                            <hr width="100%"/>
                        </div> -->
                        <div class="footer center">
                            Please stop by and say 'hi' on our social media.<br/><br/>
                            <div class="center">
                                <img alt="" class="social-img" src="/img/email_template/facebook_wh.png" />
                                <img alt="" class="social-img" src="/img/email_template/twitter_wh.png" />
                                <img alt="" class="social-img" src="/img/email_template/instagram_wh.png" />
                                <img alt="" class="social-img" src="/img/email_template/google-plus_wh.png" />
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>        
    </div>
</template>
<style>
    /* body{
        background-color: #0C315C;
    } */
    .body-bg{
        background-color: #0C315C;
        height: 100%;
    }
    .company-logo{
        background: url('/img/email_template/sansiri-logo.png') no-repeat;
        background-size: cover;
        margin: 101px 0px 56.45px 0px;
        width: 127.85px;
        height:80px;
        margin-left: auto;
        margin-right: auto;
    }
    .col-padding-0{
        padding: 0px !important;
    }
    .container-mask{
        background-color: white;        
        border-radius: 10px;
    }
    .banner-title {        
        font-family: 'overpass-bold';
        font-size: 60px;
        font-weight: bold;
        color: white;
        padding-top: 230px;   
    }
    .banner-subtitle {        
        font-family: 'overpass';
        font-size: 40px;
        font-weight: bold;
        color: white;     

    }
    .banner {
        background: url('/img/email_template/Sansiri.png');
        background-size: cover;
        width:100%;
        height: 550PX;
    }
    .mail-msg{
        background-color:white;
        font-family: 'overpass';
        font-size:20px;
        padding: 20px;
        color:black;        
    }
    .footer{
        font-family: 'overpass';
        font-size:20px;
        height:150px;
        background-color:#01579b;
        color: white;
        padding:20px;
    }
    .social-img{
        padding:10px;
    }
</style>
<script>
export default {
    name: "emailTemplate"
}
</script>

