<template>
<div>
  <ConfirmPage v-if="isQRCode" 
  :welcome="$t('CheckIn.welcome')" 
  :btntext="$t('CheckIn.done')" 
  backURL="/scanqr" 
  :checkOut=false 
  :checkIn=true 
  :redeemPoints=false 
  :onClick="confirmClick"
  :points="points" 
  welMsg=""></ConfirmPage>

  <ConfirmPage v-else 
   :welcome="$t('CheckIn.welcome')" 
  :btntext="$t('CheckIn.done')" 
  backURL="/" 
  :checkOut=false 
  :checkIn=true 
  :redeemPoints=false 
  :onClick="confirmClick"
  :points="points"  
  welMsg="" ></ConfirmPage>
  <!-- Check In Time Modal -->
  <modal v-if="showModal" >
     
        <div slot="body" class="row row-bottom-0" >
           <div class="complete-icon checkedin-icon"></div>
        </div>
        <div slot="footer" class="center checkedin-text-style" style="padding-bottom:20px;">
            {{ $t('CheckIn.checkedIn') }}
            <div class="checkin-time center">
              {{currentTime}}
            </div>
        </div>
  </modal>
  <!-- Already Check In Modal -->
  <modal v-if="showAldModal" >     
        <div slot="body" class="row row-bottom-0" >
             <div class="warning-icon checkedin-icon"></div>
        </div>  
        <div slot="footer" class="center checkedin-text-style"  style="padding-bottom:40px;">   
           {{ $t('CheckIn.alreadyCheckIn') }}  
        </div>      
  </modal>
</div>

</template>
<script>
/* eslint-disable */
import ConfirmPage from "@/components/shared/confirm";
import modal from "@/components/shared/modal";
import moment from "moment";

export default {
  name: "confirm",
  components: {
    ConfirmPage,
    modal
  },
  data() {
    return {
      showModal: false,
      showAldModal:false,
      currentTime: moment(Date.now()).format("LT"),
      isQRCode: this.$store.getters.isQRCode,
      points: 100000
    };
  },
  mounted() {
    var userObject = {
      firstName: "Aung Myo",
      lastName: "Hlaing",
      phoneNumber: "+662026609009",
      gender: "Male",
      jobTitle: "Full Stack Developer",
      company: "Ticketmelon",
      nationality: "Myanmar",
      dateOfBirth: new Date("05/10/1981").toISOString()
    };
    // this is update user data in Vuex Store
    this.$store.commit("addUserInfo", userObject);   
    //eslint-disable-next-line
    // console.log("Form Data", userObject)
  },
  methods: {
    confirmClick() {
      /** Confirm Logic here */
      this.showModal = true;
      //this.showAldModal = true;      
      setTimeout(() => {
        //this.showAldModal = false;
        this.showModal = false;
        this.$router.push("/");
      }, 2000);
    }
  }
};
</script>