<template>
  <div>
    <q-r-landing-page v-if="isQRCode" :title="$t('CheckIn.title')" :btntext="$t('Buttons.clickToScanButton')"></q-r-landing-page>
    <landing-page v-else title="Food"></landing-page>
  </div>
</template>
<script>
import LandingPage from "@/components/shared";
import QRLandingPage from "@/components/shared/QR/";
export default {
  name: "checkIn",
  components: {
    LandingPage,
    QRLandingPage
  },
  data() {
    return {
      isQRCode: this.$store.getters.isQRCode
    };
  },
  mounted() {
    var landingObj = {
      title: this.$t('CheckIn.title'),
      tapText: this.$t('Beacon.title'),
      linkURL: "/Checkinconfirm"
    };
    this.$store.commit("updateLandingInfo", landingObj);
  }
};
</script>