<template>
    <div @click="docClick">
        <Splash :title="$t('CheckIn.title')" infotext="Scan Here"></Splash>
    </div>
</template>
<script>
import Splash from '@/components/shared/scanHere'
export default {
    name:'splash',
    components: {
        Splash
    },
    methods:{
        docClick(){
            this.$router.push('/checkin')
        }
    }
}
</script>
