<template>
    <div >
        <div class="zapy-background-color">
            <div class="row">
            <div class="col s12 m12 l12">
                <div class="logo-size"></div>
            </div>
        </div>
            <div class="container" style="width:90%;">
                <form>
                <div class="row row-bottom-0">
                    <div class="input-field col s12">
                        <input id="username" type="text" 
                        v-model="username" 
                        class="validate" 
                        maxlength="30" 
                        autocomplete="off" 
                        @keyup="onKeyup($event.target)"                        
                        />
                        <label for="username" class="active">User Name</label>
                        <span id="error-username" v-bind:class="[errors.username ? 'error-style' : '']">{{errors.username}}</span>
                    </div>
                </div>
                <div class="row row-bottom-0">
                    <div class="input-field col s12">
                        <input id="password" 
                        type="password" 
                        v-model="password" 
                        class="validate" 
                        minlegth="8" 
                        maxlength="15" 
                        autocomplete="off"                       
                        @keyup.enter="signIn"/>
                        <label for="password" class="active">Password</label>                               
                        <div class="password_visiable" @click="showPassword">{{this.tooglepwd}}</div> 
                        <span id="error-password" v-bind:class="[errors.password ? 'error-style' : '']">{{errors.password}}</span>
                    </div>
                </div>
                <div class="row row-bottom-0">
                    <div class="input-field col s12">                            
                        <router-link to="" class="btn-large btn-signin" @click.native="signIn" >Sign in</router-link>
                    </div>
                </div>
                </form>
        </div>
        </div>
        <modal v-if="showModal" >
            <div slot="body" class="row row-bottom-0" style="height:40px" >
                <div > No Internet Connection</div>
            </div>
            <div slot="footer" class="center checkedin-text-style modal-fotter-height">
               <a class="btn btn-flat btn-fullwidth modal-btn-dismiss" @click="closeModal" >Dismiss</a>
            </div>
        </modal>
    </div>
</template>
<script>
import modal from "@/components/shared/modal";
export default {
  name: "login",
  components: {
    modal
  },
  data() {
    return {
      username: "123456",
      email: "",
      password: "",
      tooglepwd: "Show",
      errors: {
        email: "",
        username: "",
        password: ""
      },
      showModal: false
    };
  },
  mounted() {
    // eslint-disable-next-line
    M.updateTextFields();
  },
  methods: {
    closeModal() {
      this.showModal = false;
    },
    //Get Current Element on keypress and remove current error state
    onKeyup(target) {
      var error = document.getElementById("error-" + target.id);
      error.style.display = "none";
    },
    // Remove Current textbox Element Error Style
    removeAttributeStyle(id) {
      var inputId = document.getElementById(id);
      inputId.removeAttribute("style");
    },
    //Show Password function
    showPassword() {
      var input = document.getElementById("password");
      if (this.tooglepwd === "Show") {
        this.tooglepwd = "Hide";
        input.setAttribute("type", "text");
      } else {
        this.tooglepwd = "Show";
        input.setAttribute("type", "password");
      }
    },
    //Boolean Form Valadation Function
    validationForm() {
      //var regEmail = /\S+@\S+\.\S+/;
      // if (!this.email) {
      //   this.errors.email = "Email is required";
      //   this.removeAttributeStyle("error-email");
      // } else if (!regEmail.test(this.email)) {
      //   this.errors.email = "Email is not correct format";
      //   this.removeAttributeStyle("error-email");
      // }

      if (!this.username) {
        this.errors.username = "User Name is required";
        this.removeAttributeStyle("error-username");
      }

      if (!this.password) {
        this.errors.password = "Password is required";
        this.removeAttributeStyle("error-password");
      }

      if (this.username && this.password) {
        return true;
      } else return false;
    },
    signIn() {
      if (this.validationForm()) {        

        /** Check users to veryfiy permission to module */
        if (this.username !== "123456") {
          this.errors.username = "Username is invalid";
          this.removeAttributeStyle("error-username");
        } else if (this.password === "regis") {
          /**  this user has only POS module permission */
          // let landingObj = {
          //   title: "POS",
          //   tapText: "Scan your wristband",
          //   linkURL: "/order",
          //   showCancel: false,
          //   cancelURL: ""
          // };
          // this.$store.commit("updateLandingInfo", landingObj);
          this.$router.push("/preloader");
          setTimeout(() => {
            this.$router.push("Registration");
          }, 2000);
        } else if (this.password === "entin") {
          /** this user has only TopUp module permission */
          // let landingObj = {
          //   title: "Top Up",
          //   tapText: "Scan your wristband",
          //   linkURL: "/topup/amount",
          //   showCancel: false,
          //   cancelURL: ""
          // };
          // this.$store.commit("updateLandingInfo", landingObj);
          // this.$router.push("topup");
          this.$router.push("/preloader");
          setTimeout(() => {
            // this.$router.push("ScanHere");
            this.$router.push("Checkin");
          }, 2000);
        } else if (this.password === "entout") {
          this.$router.push("/preloader");
         setTimeout(() => {
            this.$router.push("Checkout");
          }, 2000);
        } else if (this.password === "game"){
          this.$router.push("/preloader")
          setTimeout(() => {
            this.$router.push("LuckyDraw");
          }, 2000);
        } else if (this.password === "redeem"){
          this.$router.push("/preloader")
          setTimeout(() => {
            this.$router.push("Redeem");
          }, 2000);
        }else if (this.password === "booth"){
          this.$router.push("/preloader")
          setTimeout(() => {
            this.$router.push("Booth");
          }, 2000);          
        }
        else if (this.password === "qa"){
          this.$router.push("/preloader")
          setTimeout(() => {
            this.$router.push("qa");
          }, 2000);          
        }
        else if (this.password === "vote"){
          this.$router.push("/preloader")
          setTimeout(() => {
            this.$router.push("Voting");
          }, 2000);
        }
        else {
           this.errors.password = "Password is invalid";
          this.removeAttributeStyle("error-password");
          //eslint-disable-next-line
          //M.toast({ html: "Invalid Account", displayLength: 2000 });
        }
      } else {
        // eslint-disable-next-line
        console.log("Not Valid");
      }
    }
  }
};
</script>

