<template>
    <div>
        <preload marginTop="40vh" ></preload>
    </div>
</template>
<script>
import preload from '@/components/shared/preloader'
export default {
    name:'loading',
    components: {
        preload
    }
}
</script>

