<template>
    <div class="zapy-background" >
        <div class="row row-bottom-0">
                <div class="center s12 m12 l12 ">
                    <div class="booth-logo-size">
                        
                    </div>
                </div>
                <div class="center s12 m12 l12 ">
                    <div class="booth-card">
                        <div class="row row-bottom-0">
                            <div class="s12 m12 l12">
                                <div class="booth_catalog">

                                </div>
                            </div>
                        </div>
                        <div class="row row-bottom-0">
                            <div class="s12 m12 l12">
                                <div class="booth-description">
                                    Get your free catalogue
                                </div>
                            </div>
                        </div>
                         <div class="row row-bottom-0">
                            <div class="s12 m12 l12">                               
                                <router-link to="" class="btn btn-scan" @click.native="clickScan">Click to scan</router-link>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</template>
<script>

export default {
  name: "booth",
  methods:{
      clickScan(){
          this.$router.push('/booth/scan')
      }
  }
};
</script>