<template >
    <div>
      <q-r-scan v-if="isQRCode"></q-r-scan>
      <landing-page v-else></landing-page>
    </div>
</template>
  
<script>
import LandingPage from '@/components/shared'
import QRScan from '@/components/shared/QR/readQR'
export default {
  name: "Scan",
  components: {
      LandingPage,
      QRScan
  },
  data(){
    return{
      isQRCode: this.$store.getters.isQRCode
    }
  },
  mounted() {
    var landingObj = {
      title: "Booth Activation",
      tapText: this.$store.getters.beaconText,
      linkURL: "/booth/done"
    };
    this.$store.commit("updateLandingInfo", landingObj);
  }
};
</script>