<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>
<style>

/* .zapy-background-color {
  background-color: var(--background);
}

.beacon-1, .beacon-2, .beacon-3 {
    color: var(--beacon_color);
    border: var(--beacon_color);
    box-shadow:  inset 0 0 50px var(--beacon_color);
}

.logo-size{
  background: var(--logo) no-repeat;
  background-size: cover;
  width: var(--logo-width);
  height: var(--logo-height);
}

.zapy-background {
  background: var(--background) no-repeat fixed;
  background-color: var(--bg-color);
  background-size: cover;
}

.landing-title {
  color: black;
}

.tap-to-purchase a {
  color: black;
}

label{
  color:black !important;
}

input[type=text]:not(.browser-default):not(.select-dropdown), 
input[type=email]:not(.browser-default):not(.select-dropdown), 
input[type=password]:not(.browser-default):not(.select-dropdown){
  color: black !important;
}

input[data-v-0b1f7010] {
  color:black;
}

.page-bg-color {
  background-color: var(--background);
}

.page-logo-size{
  background: var(--logo) no-repeat;
  background-size: cover;
  width: var(--logo-width);
  height: var(--logo-height);
} */

</style>
<script>
import "@/themes/default/css/default.css";
import "@/themes/default/css/vue-tel-input.css";
// import "@/themes/fastforward/css/fastforward.css";
// import "@/themes/fastforward/css/vue-tel-input.css";
// import "@/themes/tatler/css/custom.css";
// import "@/themes/lexus/css/lexus.css";
// import "@/themes/lexus/css/vue-tel-input.css";
// import "@/themes/hoegaarden/css/hoegaarden.css";
// import "@/themes/hoegaarden/css/vue-tel-input.css";
export default {
  name: "app",
  data: () =>({
      beacon_color: '#e75459',
      logo: {
        url: "url('https://dev.zapy.io/cdn/themes/honda/img/logo.png')",
        width: '234px',
        height: '50.09px'
      },
      background: "url('https://dev.zapy.io/cdn/themes/honda/img/bg.svg')",
      bg_color: '#fff'
  }),
  computed:{
      beaconCSS(){
          return {
              '--beacon_color': this.beacon_color,
              '--logo': this.logo.url,
              '--logo-width': this.logo.width,
              '--logo-height': this.logo.height,
              '--background': this.background,
              '--bg-color': this.bg_color
          }
      }
  },
  methods: {
    // importThemes(theme) {
    //   if (theme === "honda") {
    //     return ""
    //   } else {
    //     import "@/themes/default/css/zapy-style.css";
    //     import "@/themes/default/css/vue-tel-input.css";
    //   }
    // }
  }
};
</script>



