<template >
<div>
  <q-r-landing-page v-if="isQRCode" title="Redeem" btntext="Click To Scan"></q-r-landing-page>
  <landing-page v-else></landing-page>
</div>
    
</template>
<script>
import LandingPage from '@/components/shared'
import QRLandingPage from '@/components/shared/QR'
export default {
  name: "Index",
  components: {
      LandingPage,
      QRLandingPage
  },
  data(){
    return{
      isQRCode: this.$store.getters.isQRCode
    }
  },
  mounted() {
    var landingObj = {
      title: "REDEEM REWARDS",
      tapText: this.$store.getters.beaconText,
      linkURL: "/redeem/items",
      showCancel:false
    };
    this.$store.commit("updateLandingInfo", landingObj);
  }
};
</script>