<template>
    <div style="background-color:white;">
       <div class="nav-top">  
        <Header backurl='/redeem/items' />
      
        <div class="row row-bottom-0 selected-reward-text ">
            <div class="col s12 m12 l12 ">
                Selected Rewards
            </div>
        </div>
         </div>
        <div class="row rewards-container">
            <div class="col s12 m12 l12">
                <div class="card horizontal rewards-shadow"  v-bind:key="item.id" v-for="item in items">
                    <div class="card-image">                          
                      <img :src="item.itemImage" width="79.91px" height="74.03px" alt="" />
                    </div>
                    <div class="card-stacked">
                      <div class="card-content ">
                        <p><span class="item-text truncate">{{item.itemName}}</span>
                        <span class="items-points-style">Qty {{item.quantity}}</span>
                    
                    <span class="items-points-style right" style="margin-top:9px;">{{item.points*item.quantity}} Points</span>
                    </p>
                   
                      </div>                      
                    </div>
                  </div> 

                  <div class="row row-bottom-0">
            <div class="col s12 m12 l12 ">
                <div class="card horizontal rewards-shadow net-total-style">
                    <div class="card-stacked">
                      <div class="card-content ">
                        <p>
                        <span >Net Total</span>                    
                        <span class="bold-points-number right">{{netPrice}} <span class="net-total-points-text">Points</span></span>
                        
                        </p>
                   
                      </div>                      
                    </div>
                </div>
                
            </div>
        </div>

                
            </div>           
        </div>
        
       
        <div class="row row-bottom-0 nav-bottom nav-bottom-height-auto">
             <div ><router-link to="" class="btn-large btn-fullwidth" @click.native="confirm" >click to scan</router-link></div>
        </div>
    </div>
</template>
<script>
import Header from "@/components/shared/orderHeader";

export default {
  name: "order-confirm",
  data() {
    return {
      items: this.$store.getters.orderSelectedItem,      
      balance: 0
    };
  },
  components: {
    Header
  },
  computed: {
    netPrice: function() {
      return this.$store.getters.orderTotal;
    },
    remainingBalance: function() {
      return this.$store.getters.orderBalance - this.$store.getters.orderTotal;
    }
  },
  methods: {
    confirm() {      
      this.$router.push("tapYourWristband");
    }
  }
};
</script>
