<template>
    <div>
        <Header  />
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="complete-card" >
                    <div class="row">
                        <div class="congratulations center">Congratulations!</div>
                    </div>
                    <div v-if="selectedItems.length > 1" class="row" >
                        <div class="carousel carousel-slider center">                            
                            <div class="carousel-item " v-bind:key="item.id"  v-for="item in selectedItems" >
                                <img class="circle carousel-img " :src="item.itemImage" alt="" />                                                        
                                <div class="reward-item-name carousel-item-name truncate">{{item.itemName}}</div>
                                <div class="reward-msg">Get your reward at the registration</div>     
                                                   
                            </div>                            
                        </div>
                    </div>
                    <div v-else>
                        <div class="center">                            
                            <div class="carousel-item " v-bind:key="item.id"  v-for="item in selectedItems" >
                                <img class="circle carousel-img " :src="item.itemImage" alt="" />                                                        
                                <div class="reward-item-name carousel-item-name truncate">{{item.itemName}}</div>
                                <div class="reward-msg">Get your reward at the registration</div>                            
                            </div>                            
                        </div>
                    </div>
                    <div class="row row-bottom-0">
                        <div class="s12 m12 l12 center">
                            <div class="btn-new">
                                    <router-link to="" class="btn-large reward-btn-done" @click.native="done" >done</router-link>
                            </div>     
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</template>
<script>
/* eslint-disable */
import Header from "@/components/shared/orderHeader";
import data from "@/data/redeem.json";
export default {
  name: "Order-Complete",
  components: {
    Header
  },
  data(){
      return {
          selectedItems: this.$store.getters.orderSelectedItem
      }
  },
  mounted() {

    $(".carousel.carousel-slider").carousel({
      fullWidth: true,
      indicators: true
    });
  },
  computed: {
    remainingBalance: function() {
      return (
        this.$store.getters.orderBalance -
        this.$store.getters.orderServiceFee -
        this.$store.getters.orderTotal
      );
    }
  },
  methods: {
    done() {
    //   this.$store.commit("updateOrderBalance", this.remainingBalance);
      this.$store.commit("updateOrderTotal", 0);
      this.$store.commit("updateSelectedItem", []);

      /** Reset Quantity in Mock up JSON POS data */
      for (var i = 0; i < data.length; i++) {
        data[i].quantity = 0;
      }

      this.$router.push("/");
    }
  }
};
</script>

