<template >
    <div style="background-color:white;">       
             
        <div class="row row-bottom-0" >
            <div class="center s12 m12 l12">
                <div class="nav-top">     
                    <Header v-if="isQRCode" backurl='/scanqr'></Header>
                    <Header v-else backurl='/redeem' />                
                    <div class="order-title" >
                        <div class="row row-bottom-0">
                          <div class="col left header-title">{{customerName}}</div>
                          <div class="col right header-title">{{this.$store.getters.orderBalance}} Points</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-bottom-0" >
            <div class="col s12 m12 l12 rewards-container">                
                  <div class="card horizontal rewards-shadow"  v-bind:key="item.id" v-for="item in items">
                    <div class="card-image">                          
                      <img :src="item.itemImage"  alt="" width="79.91px" height="74.03px" >
                    </div>
                    <div class="card-stacked">
                      <div class="card-content ">
                        <p><span class="item-text truncate">{{item.itemName}}</span>
                    
                    <span class="items-points-style">{{item.points}} Points</span>
                    </p>
                    <div class="quantity-div">
                        <router-link v-if="item.quantity > 0" to="" class="decrese-circle" @click.native='decrement(item.id)' >                                
                              <div class="decrease-icon"></div>
                        </router-link>                                
                            <span class="quantity">{{item.quantity}}</span>
                        <router-link to="" class="increse-circle" @click.native='increment(item.id)' >                                
                            <div class="increase-icon"></div>
                        </router-link>                           
                    </div> 
                      </div>                      
                    </div>
                  </div>                
            </div>
        </div>
        <div class="row row-bottom-0 nav-bottom">        
           <div class="total-text">Total</div>
           <div class="total-amount"> {{total}} <span class="points-text">Points</span></div>
           
           <div class="btn-continue"><router-link to="" class="btn-large" @click.native="continueClick" >Continue</router-link></div>
        </div>           
    </div>
</template>
<script>
/* eslint-disable */
import Header from "@/components/shared/orderHeader";
import data from "@/data/redeem.json";
export default {
  name: "Order",
  data() {
    return {
      items: data,
      balance: this.$store.getters.orderBalance,
      total: this.$store.getters.orderTotal,
      customerName: 'Loiuse Hunt',
      selectedItems: [],
      isQRCode: this.$store.getters.isQRCode
    };
  },
  components: {
    Header
  },
  created() {
    this.total = this.$store.getters.orderTotal;
    this.selectedItems = this.$store.getters.orderSelectedItem;
    this.$store.commit("updateOrderBalance", this.balance);
  },
  methods: {
    increment(id) {
      var itemID = id;

      for (var i =0; i < this.items.length ; i++) {
        if (this.items[i].id === itemID) {
          if (this.items[i].quantity < 990) {

            this.items[i].quantity += 1;
            this.total += this.items[i].points;

            /**
             * Check current balance and total balance
             * 
             */
            if (this.total > this.balance) {
              this.total = this.total - this.items[i].points;
              this.items[i].quantity = this.items[i].quantity - 1;
              //eslint-disable-next-line
              M.toast({
                html: "Sorry, you do not have enough points.",
                displayLength: 2000
              });
              return false;
            } 
             
            /**
             * Creat an Object for store Item lists
             */
            var itemObj = {
              id: this.items[i].id,
              itemName: this.items[i].itemName,
              itemImage: this.items[i].itemImage,
              points: this.items[i].points,
              quantity: this.items[i].quantity
            };

            /**
             * Check selectedItems array and update selectedItems array         
             */          
            for (var j = 0; j < this.selectedItems.length; j++) {
              /**
               * Check in the selectedItems array Loop
               * if selectedItems array id and current item clicked id are equal
               * update selectedItems array quantity and then exit from the function              
               */
              if (this.selectedItems[j].id === itemID) {
                this.selectedItems[j].quantity = this.items[i].quantity;
                /** Update Store Order before exit from the method */
                this.$store.commit("updateOrderTotal", this.total);
                return false;
              }
            }

             /**
             * Limit Rewards to get only 10 items
             * this.selectedItems.lengt start from 0 in here and currently length is 9 = 10 here in this state
             */
            if (this.selectedItems.length > 9) {
              this.total = this.total - this.items[i].points;
              this.items[i].quantity = this.items[i].quantity - 1;
              this.selectedItems.splice(i, 1);
              M.toast({
                html: "Please redeem 10 items once at the time.",
                displayLength: 2000
              });
              return false;
            }     else {
              this.selectedItems.push(itemObj);
            }  
          }
        }       
      }

      /** Update Store Order  */
      this.$store.commit("updateOrderTotal", this.total);
    },
    decrement(id) {
      for (var i = 0; i < this.items.length; i++) {
        if (this.items[i].id === id) {
          if (this.items[i].quantity !== 0) {
            this.items[i].quantity -= 1;
            this.total -= this.items[i].points;

            /** Check the selectedItems array empty or not */
            if (this.selectedItems.length > 0) {
              for (var j = 0; j < this.selectedItems.length; j++) {
                /** Check selectedItems array id and current id match or not */
                if (this.selectedItems[j].id === id) {
                  /** Check selectedItems array quantity more than 1 than updated selectedItems array quantity
                   * and then exit from the method
                   */
                  if (this.selectedItems[j].quantity > 1) {
                    this.selectedItems[j].quantity = this.items[i].quantity;
                    /** Update Store Order  */
                    this.$store.commit("updateOrderTotal", this.total);
                    return false;
                  } else {
                    /** Update Store Order  */
                    this.$store.commit("updateOrderTotal", this.total);
                    /** else remove specific array from selectedItems array */
                    this.selectedItems.splice(j, 1);
                  }
                }
              }
            }
          }
        }
      }
    },
    continueClick() {
      if (this.total > 0) {

        this.$store.commit("updateSelectedItem", this.selectedItems);

        this.$router.push("/redeem/confirm");
      } else {
        //eslint-disable-next-line
        M.toast({
          html: "Add at least one item to continue",
          displayLength: 2000
        });
      }
    }
  }
};
</script>