<template >
<div>
  <q-r-landing-page v-if="isQRCode" isConfirm ></q-r-landing-page>
  <landing-page v-else isConfirm=true></landing-page>
</div>    
</template>
<script>
import LandingPage from '@/components/shared'
import QRLandingPage from '@/components/shared/QR/readQR'
export default {
  name: "Index",
  components: {
      LandingPage,
      QRLandingPage
  },
  data(){
    return {
      isQRCode: this.$store.getters.isQRCode
    }
  },
  mounted() {
    var landingObj = {
      title: "REDEEM REWARDS",
      tapText: this.$store.getters.beaconText,
      linkURL: "/redeem/complete",
      showCancel:true,
      cancelURL: '/redeem/items'
    };
    this.$store.commit("updateLandingInfo", landingObj);
  }
};
</script>