<template >
<div>
    <q-r-confirmation v-if="isQRCode" isConfirm></q-r-confirmation>
    <LandingPage isConfirm=true ></LandingPage>
</div>
</template>
<script>
import LandingPage from "@/components/shared";
import QRConfirmation from "@/components/shared/QR/readQR"
export default {
  name: "Index",
  components: {
    LandingPage,
    QRConfirmation,
  },
  data(){
    return{
      isQRCode: this.$store.getters.isQRCode
    }
  },
  mounted() {
    var userObject = {
      firstName: "",
      lastName: "",
      phoneNumber: "",
      gender: "",
      jobTitle: "",
      company: "",
      nationality: "",
      dateOfBirth: ""
    };

    var landingObj = {
      title: "Registration",
      tapText: this.$store.getters.beaconText,
      linkURL: "/done"
    };
    this.$store.commit("updateLandingInfo", landingObj);
    this.$store.commit("addUserInfo", userObject);
  }
};
</script>