<template >
    <LandingPage></LandingPage>
</template>
<script>
import LandingPage from '@/components/shared'
export default {
  name: "Index",
  components: {
      LandingPage
  },
  mounted() {
    var landingObj = {
      title: "Registration",
      tapText: "Done!",
      linkURL: '/'
    };
    this.$store.commit("updateLandingInfo", landingObj);

    setTimeout(() =>{
        this.$router.push('/')
    },1000)
  }
};
</script>