<template >
    <div>
      <q-r-landing-page v-if="isQRCode" :title="$t('Registration.title')" :btntext="$t('Buttons.clickToScanButton')"></q-r-landing-page>
      <LandingPage v-else></LandingPage>

    </div>
    
</template>
<script>
import LandingPage from '@/components/shared'
import QRLandingPage from '@/components/shared/QR'


export default {
  name: "Index",
  components: {
      LandingPage,
      QRLandingPage
  },
  data(){
    return{
      isQRCode: this.$store.getters.isQRCode
    }
  },
  mounted() {
   
    
    var landingObj = {
      title: this.$t('Registration.title'),
      tapText: this.$t('Beacon.title'),
      linkURL: '/register'
    };
    this.$store.commit("updateLandingInfo", landingObj);
  }
};
</script>