<template>
<!-- 
Select below props to show on the registration profile page

isShowPhone
isShowEmail
isShowGender
isShowDob
isShowJob
isShowCompany
isShowInCome
-->
  <confirm-page
    welcome="Welcome"
    clsName="zapy-background"
    btntext="Click to scan"
    backURL="/Register"
    :onClick="confirmClick"
    isShowPhone
    isShowEmail
    isShowGender        
  ></confirm-page>
</template>
<script>
/* eslint-disable */
import confirmPage from "@/components/shared/confirm";
export default {
  name: "confirm",
  components: {
    confirmPage
  },
  methods: {
    confirmClick() {
      /**
       * Put Logic below for Click Confirm Button
       */
      //eslint-disable-next-line
      console.log("Clicked Confirm Button");

      this.$router.push("/confirm");
    }
  }
};
</script>