<template>
  <div id="RegistrationApp" class="page-bg-color">
    <div class="row row-bottom-0">
      <div style="width:50px;">
        <router-link v-if="isQRCode" to="/scanqr">
          <div class="back-arrow-style"></div>
        </router-link>
        <router-link v-else to="/">
          <div class="back-arrow-style"></div>
        </router-link>
      </div>
      <div class="center s12 m12 l12">
        <div>
          <!-- <img class="page-logo-size" src="../../img/logo.png" /> -->
          <div class="page-logo-size"></div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <form class="col s12" novalidate>
          <div v-if="isFirstname" class="row row-bottom-0">
            <div class="input-field col s12">
              <input
                id="firstName"
                type="text"
                v-model="firstName"
                class="validate"
                maxlength="30"
                autocomplete="off"
                @keyup="onKeyup($event.target)"
              >
              <label for="firstName" class="active">{{ $t("Registration.firstName") }}</label>
              <span
                id="error-firstName"
                v-bind:class="[errors.firstName ? 'error-style' : '']"
              >{{errors.firstName}}</span>
            </div>
          </div>
          <div v-if="isLastname" class="row row-bottom-0">
            <div class="input-field col s12">
              <input
                id="lastName"
                type="text"
                v-model="lastName"
                class="validate"
                maxlength="30"
                autocomplete="off"
                @keyup="onKeyup($event.target)"
              >
              <label for="lastName" class="active">{{ $t("Registration.lastName") }}</label>
              <span
                id="error-lastName"
                v-bind:class="[errors.lastName ? 'error-style' : '']"
              >{{errors.lastName}}</span>
            </div>
          </div>
          <div v-if="isEmail" class="row row-bottom-0">
            <div class="input-field col s12">
              <input
                id="email"
                type="email"
                v-model="email"
                class="validate"
                maxlength="60"
                autocomplete="off"
                @keyup="onKeyup($event.target)"
              >
              <label for="email" class="active">{{ $t("Registration.email") }}</label>
              <span
                id="error-email"
                v-bind:class="[errors.email ? 'error-style' : '']"
              >{{errors.email}}</span>
            </div>
          </div>
          <div v-if="isPhone" class="row row-bottom-0">
            <div class="s12">
              <vue-tel-input                
                v-model="phoneNumber"
                :defaultCountry="phone.country"
                :disabledFetchingCountry="false"
                :preferredCountries="['TH', 'SG','CN', 'MM', 'VN', 'IN', 'MY', 'ID']"
                @onInput="onInputPhoneNumber"                
              ></vue-tel-input>
              <div class="col">
                <span
                  id="error-phoneNumber"
                  v-bind:class="[errors.phoneNumber ? 'error-style' : '']"
                >{{errors.phoneNumber}}</span>
              </div>
            </div>
            <!-- <div class="col s12">
              <div class="col s2" style="color:white;margin-top:25px;font-size:16px;padding-left:0px;">+84</div>
              <div class="input-field col s10" style="padding:0px !important;">
                <input
                  id="phoneNumber"
                  type="tel"
                  maxlength="12"
                  autocomplete="off"
                  pattern="[0-9]*"
                  inputmode="numeric"
                  v-model="phoneNumber"
                  class="validate"
                  style="color:white !important;"
                  @keyup="onKeyup($event.target)"
                >
                <label for="phoneNumber" class="active" style="left:0px !important;">Phone Number</label>
              </div>

              <span
                id="error-phoneNumber"
                v-bind:class="[errors.phoneNumber ? 'error-style' : '']"
              >{{errors.phoneNumber}}</span>
            </div>-->
          </div>
          <div v-if="isGender" class="row row-bottom-0">
            <div class="input-field col s12">
              <div class="row">
                <div class="col s12">
                  <label class="gender-label active">{{ $t("Registration.gender") }}</label>
                </div>
              </div>
              <div class="row row-bottom-0">
                <div class="col s6" style="padding-right:.2px;">
                  <a class="btn btn-switch" v-on:click="genderClick('Male')">{{ $t("Registration.male") }}</a>
                </div>
                <div class="col s6" style="padding-left:.2px;">
                  <a class="btn btn-switch" v-on:click="genderClick('Female')">{{ $t("Registration.female") }}</a>
                </div>
                <div class="input-field col s12">
                  <span
                    id="error-gender"
                    v-bind:class="[errors.gender ? 'error-style' : '']"
                  >{{errors.gender}}</span>
                </div>
              </div>
            </div>
          </div>
          <div v-if="isJob" class="row row-bottom-0">
            <div class="input-field col s12">
              <input
                id="jobTitle"
                type="text"
                v-model="jobTitle"
                class="validate"
                maxlength="50"
                autocomplete="off"
                @keyup="onKeyup($event.target)"
              >
              <label for="jobTitle" class="active">{{ $t("Registration.job") }}</label>
              <span
                id="error-jobTitle"
                v-bind:class="[errors.jobTitle ? 'error-style' : '']"
              >{{errors.jobTitle}}</span>
            </div>
          </div>
          <div v-if="isCompany" class="row row-bottom-0">
            <div class="input-field col s12">
              <input
                id="company"
                type="text"
                v-model="company"
                class="validate"
                maxlength="50"
                autocomplete="off"
                @keyup="onKeyup($event.target)"
              >
              <label for="company" class="active">{{ $t("Registration.company") }}</label>
              <span
                id="error-company"
                v-bind:class="[errors.company ? 'error-style' : '']"
              >{{errors.company}}</span>
            </div>
          </div>
          <div v-if="isNationality" class="row row-bottom-0">
            <div id="nationalityDiv" class="input-field col s12">
              <input
                id="nationality"
                type="text"
                v-model.lazy="nationality"
                class="validate autocomplete"
                autocomplete="off"
                maxlength="50"
                @keyup="onKeyup($event.target)"
              >
              <label for="nationality" class="active">{{ $t("Registration.nationality") }}</label>
              <span
                id="error-nationality"
                v-bind:class="[errors.nationality ? 'error-style' : '']"
              >{{errors.nationality}}</span>
            </div>
          </div>
          <div v-if="isDob" class="row row-bottom-0">
            <div class="input-field col s12">
              <datepicker></datepicker>
              <span
                id="error-dateOfBirth"
                v-bind:class="[errors.dateOfBirth ? 'error-style' : '']"
              >{{errors.dateOfBirth}}</span>
            </div>
          </div>
          <div v-if="isInCome" class="row row-bottom-0">
            <div class="input-field col s12">
              <select id="selIncome" v-model="inCome" @change="changeEvent">
                <option value disabled selected>{{ $t("Registration.income") }}</option>
                <option value="0-50000">0 - 50,000 THB</option>
                <option value="50001-100000">50,001 - 100,000 THB</option>
                <option value="100001-150000">100,001 - 150,000 THB</option>
                <option value="150001-200000">150,001 - 200,000 THB</option>
                <option value="Above-200000">Above 200,000 THB</option>
              </select>
              <label for="selIncome" class="active" >{{ $t("Registration.income") }}</label>
              <span
                id="error-inCome"
                v-bind:class="[errors.inCome ? 'error-style' : '']"
              >{{errors.inCome}}</span>
            </div>
          </div>
          <div class="row row-bottom-0">
            <div class="input-field col s12">
              <router-link
                to
                class="btn-large btn-fullwidth"
                v-bind:disabled="btnDisabled"
                @click.native="nextClick"
              >{{ $t("Registration.nextButton") }}</router-link>
            </div>
          </div>
          <fb-signin-button
            :params="fbSignInParams"
            @success="fbSignInSuccess"
            @error="fbSignInError">
            Register with Facebook
          </fb-signin-button>
          <button class="fb-logout-button" @click="fbLogout">Log out</button>
          <g-signin-button
            :params="googleSignInParams"
            @success="googleSignInSuccess"
            @error="googleSignInError">
            Register with Google
          </g-signin-button>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
/* eslint-disable */
import Vue from "vue";
// import VueTelInput from "vue-tel-input";
import VueTelInput from "vue-tel-input"
import countries from "@/data/autocompletedata.json";
import Datepicker from "@/components/shared/datepicker";

// Vue.use(VueTelInput)

// Initialize Facebook SDK
import {fbSdkInit} from '@/facebooksdk/index'
import FBSignInButton from 'vue-facebook-signin-button'
Vue.use(FBSignInButton)
const myFbAppId = 935242706852818
fbSdkInit(Vue, myFbAppId)

// Google
import GSignInButton from 'vue-google-signin-button'
Vue.use(GSignInButton)

export default {
  name: "RegForm",
  components: { datepicker: Datepicker },
  props: {
    isFirstname: { type: Boolean },
    isLastname: { type: Boolean },
    isEmail: { type: Boolean },
    isPhone: { type: Boolean },
    isGender: { type: Boolean },
    isJob: { type: Boolean },
    isCompany: { type: Boolean },
    isNationality: { type: Boolean },
    isDob: { type: Boolean },
    isInCome: { type: Boolean }
  },
  data() {
    return {
      firstName: "",
      lastName: "",
      email: "",
      phoneNumber: "",
      gender: "",
      btnDisabled: false,
      jobTitle: "",
      company: "",
      nationality: "",
      dateOfBirth: "",
      inCome: "",
      errors: {
        firstName: "",
        lastName: "",
        email: "",
        phoneNumber: "",
        jobTitle: "",
        company: "",
        nationality: "",
        dateOfBirth: "",
        isPhoneValid: false,
        gender: "",
        inCome: ""
      },
      phone: {
        number: "",
        isValid: false,
        country: "TH"
      },
      country: countries, //Nationality
      isQRCode: this.$store.getters.isQRCode,
      fbSignInParams: {
        scope: 'public_profile,email',
        return_scopes: true
      },
      googleSignInParams: {
        client_id: '533089138598-tgl9oa478vt3jsbapkp8bbso6nh5pv3s.apps.googleusercontent.com'
      }
    };
  },
  created() {
    // This below is for the data to stay when it back
    this.firstName = this.$store.getters.userInfo.firstName;
    this.lastName = this.$store.getters.userInfo.lastName;
    this.email = this.$store.getters.userInfo.email;
    this.phoneNumber = this.$store.getters.userInfo.phoneNumber;
    this.gender = this.$store.getters.userInfo.gender;
    this.btnDisabled = this.$store.getters.btnDisabled;
    this.jobTitle = this.$store.getters.userInfo.jobTitle;
    this.company = this.$store.getters.userInfo.company;
    this.nationality = this.$store.getters.userInfo.nationality;
    this.dateOfBirth = this.$store.getters.userInfo.dateOfBirth;
    this.inCome = this.$store.getters.userInfo.inCome;

    if (this.firstName !== "" && this.firstName !== undefined) {
      this.phone.isValid = true;
      this.phone.country = this.$store.getters.userInfo.country;
    }
  },
  mounted() {
    // Create Gender Button for the firsttime
    this.createSwitchBtn();

    // Set Gender Button
    this.setSwitchBtn();

    // Setup Materialize Autocomplete textbox
    var autocmpleteelem = document.querySelectorAll(".autocomplete");
    var autoOptions = {
      data: this.country,
      minLength: 1 //Minimum number of characters before autocomplete starts.
    };
    //eslint-disable-next-line
    var autoinstances = M.Autocomplete.init(autocmpleteelem, autoOptions);

    var selectelems = document.querySelectorAll("select");
    var instances = M.FormSelect.init(selectelems);

    // updateTextFields is for reinitialize all text boxes from materialize
    // eslint-disable-next-line
    M.updateTextFields();
  },
  methods: {
    onInputPhoneNumber({ number, isValid, country }) {
      //eslint-disable-next-line
      //console.log('Valid Phone', isValid)
      this.phone.number = number;
      this.phone.isValid = isValid;
      this.phone.country = country.iso2;
    },
    // Create Gender Button for the firsttime
    createSwitchBtn() {
      var btnswitchs = document.getElementsByClassName("btn-switch");
      for (var i = 0; i < btnswitchs.length; i++) {
        btnswitchs[i].addEventListener("click", function() {
          var act = document.getElementsByClassName("active-switch");
          if (act.length > 0) {
            act[0].className = act[0].className.replace("active-switch", "");
            this.className += " active-switch";
          } else {
            this.className += " active-switch";
          }
        });
      }
    },
    // Set Gender Button
    setSwitchBtn() {
      var btnswitchs = document.getElementsByClassName("btn-switch");
      for (var i = 0; i < btnswitchs.length; i++) {
        if (btnswitchs[i].textContent === this.gender) {
          btnswitchs[i].className = btnswitchs[i].className.replace(
            "active-switch",
            ""
          );
          btnswitchs[i].className += " active-switch";
        } else {
          btnswitchs[i].className = btnswitchs[i].className.replace(
            "active-switch",
            ""
          );
        }
      }
    },
    //Get Current Element
    onKeyup(target) {
      var error = document.getElementById("error-" + target.id);
      error.style.display = "none";

      if (target.id === "dateOfBirth") {
        var elem = document.querySelectorAll(".modal");
        //eslint-disable-next-line
        var instance = M.Modal.getInstance(elem);
        instance.open();
      }
    },
    // Set Gender value
    genderClick(gender) {
      this.gender = gender;
    },
    // Remove Current textbox Element Style
    removeAttributeStyle(id) {
      var inputId = document.getElementById(id);
      inputId.removeAttribute("style");
    },
    // Validation Checking Form
    checkForm() {
      //var reCharacter = /^[\u0E00-\u0E7FA-z :()']+$/;
      // eslint-disable-next-line
      var reCharacter = /[^\u0000-\u007F]|[\u0E00-\u0E7FA-z :()']+$/;
      var rePhone = /^[+0-9 ]+$/;
      var regEmail = /\S+@\S+\.\S+/;
      let checkedForm = true;

      if (this.isFirstname) {
        if (!this.firstName) {
          this.removeAttributeStyle("error-firstName");
          this.errors.firstName = this.$t("Registration.firstNameReq");
          checkedForm = false;
        } else if (!reCharacter.test(this.firstName)) {
          this.errors.firstName = this.$t("Registration.firstNameValidation");
          this.removeAttributeStyle("error-firstName");
          checkedForm = false;
        }
      }

      if (this.isLastname) {
        if (!this.lastName) {
          this.removeAttributeStyle("error-lastName");
          this.errors.lastName = this.$t("Registration.lastNameReq");;
          checkedForm = false;
        } else if (!reCharacter.test(this.lastName)) {
          this.errors.lastName =this.$t("Registration.lastNameValidation");
          this.removeAttributeStyle("error-lastName");
          checkedForm = false;
        }
      }

      if (this.isEmail) {
        if (!this.email) {
          this.errors.email = this.$t("Registration.emailReq");
          this.removeAttributeStyle("error-email");
          checkedForm = false;
        } else if (!regEmail.test(this.email)) {
          this.errors.email = this.$t("Registration.emailValidation");
          this.removeAttributeStyle("error-email");
          checkedForm = false;
        }
      }

      if (this.isPhone) {
        if (!this.phoneNumber) {
          this.removeAttributeStyle("error-phoneNumber");
          this.errors.phoneNumber = this.$t("Registration.phoneNumberReq");
          checkedForm = false;
        } else if (!rePhone.test(this.phoneNumber)) {
          this.removeAttributeStyle("error-phoneNumber");
          this.errors.phoneNumber = this.$t("Registration.phoneNumberValidation");
          checkedForm = false;
        }
        // else if (!this.phone.isValid) {
        //   this.removeAttributeStyle("error-phoneNumber");
        //   this.errors.phoneNumber = "Phone Number is Not Correct Format.";
        //   checkedForm = false;
        // }
      }

      if (this.isGender) {
        if (!this.gender) {
          this.errors.gender = this.$t("Registration.genderReq");
          checkedForm = false;
        }
      }

      if (this.isJob) {
        if (!this.jobTitle) {
          this.removeAttributeStyle("error-jobTitle");
          this.errors.jobTitle = this.$t("Registration.jobTitleReq");
          checkedForm = false;
        }
      }

      if (this.isCompany) {
        if (!this.company) {
          this.removeAttributeStyle("error-company");
          this.errors.company = this.$t("Registration.companyReq");
          checkedForm = false;
        }
      }

      if (this.isNationality) {
        //eslint-disable-next-line
        //console.log("Nationality Avaiable");
        if (!this.nationality) {
          this.removeAttributeStyle("error-nationality");
          this.errors.nationality = this.$t("Registration.nationalityReq");
          checkedForm = false;
        } else if (!reCharacter.test(this.nationality)) {
          this.removeAttributeStyle("error-nationality");
          this.errors.nationality = this.$t("Registration.nationalityValidation");
          checkedForm = false;
        }
      }

      if (this.isDob) {
        if (!this.dateOfBirth) {
          this.removeAttributeStyle("error-dateOfBirth");
          this.errors.dateOfBirth = this.$t("Registration.dobReq");
          checkedForm = false;
        }
      }

      if (this.isInCome) {
        if (!this.inCome) {
          this.removeAttributeStyle("error-inCome");
          this.errors.inCome = this.$t("Registration.incomeReq");
          checkedForm = false;
        }
      }

      return checkedForm;
    },
    //Click Next btn to send data to Confirmation page
    nextClick() {
      if (this.checkForm()) {
        let companyStr =
          this.company !== "" ? this.company.replace(",", "U+002C") : "-";
        //eslint-disable-next-line
        //console.log('Company String', companyStr)
        var userObject = {
          firstName: this.firstName !== "" ? this.firstName : "-",
          lastName: this.lastName !== "" ? this.lastName : "-",
          email: this.email !== "" ? this.email : "-",
          phoneNumber: this.phoneNumber !== "" ? this.phoneNumber : "-",
          gender: this.gender !== "" ? this.gender : "-",
          jobTitle: this.jobTitle !== "" ? this.jobTitle : "-",
          company: companyStr,
          nationality: this.nationality !== "" ? this.nationality : "-",
          dateOfBirth: this.dateOfBirth !== "" ? this.dateOfBirth : "-",
          country: this.phone.country !== "" ? this.phone.country : "-",
          inCome: this.inCome !== "" ? this.inCome : "-"
        };
        // this is update user data in Vuex Store
        this.$store.commit("addUserInfo", userObject);
        this.$router.push("/profile");
        //eslint-disable-next-line
        console.log('Register Object',userObject)
      }
    },
    changeEvent() {
      console.log("Income", this.inCome);
    },
    fbSignInSuccess (response) {
      console.log('Facebook login success');
      var vm = this;
      /* 
        * Send user's facebook data to the confirmation page
        * App review required to request for user's private data
      */
      FB.api('/me?fields=first_name,last_name,email,gender,birthday', function(response) {
        if (response && !response.error) {
          console.log('First name:', response.first_name);
          console.log('Last name:', response.last_name);
          console.log('Email:', response.email);
          console.log('Gender:', response.gender);
          console.log('Birthday:', response.birthday);

          var userFbData = {
            firstName:  response.first_name !== "" ? response.first_name : "-",
            lastName: response.last_name !== "" ? response.last_name : "-",
            email: response.email !== "" ? response.email : "-",
            phoneNumber: "-",
            gender: "-",
            jobTitle: "-",
            company: "-",
            nationality: "-",
            dateOfBirth: "-",
            country: "-",
            inCome: "-"
          };

          console.log('Data sent to confirmation page:', userFbData);
          vm.$store.commit("addUserInfo", userFbData);
          vm.$router.push("/profile");
        }
      });
    },
    fbSignInError (error) {
      console.log('Facebook login cancelled', error);
    },
    fbLogout() {
      FB.logout();
    },
    googleSignInSuccess (googleUser) {
      console.log('Google login success');
      var vm = this;
      /*
        * Send user's google data to the confirmation page
        * Use People API to get user's private data
      */
      const profile = googleUser.getBasicProfile();
      console.log('Given name:', profile.getGivenName());
      console.log('Family name:', profile.getFamilyName());
      console.log('Email:', profile.getEmail());

      var googleFirstName = profile.getGivenName();
      var googleLastName = profile.getFamilyName();
      var googleEmail = profile.getEmail();

      var userGoogleData = {
          firstName:  googleFirstName !== "" ? googleFirstName : "-",
          lastName: googleLastName !== "" ? googleLastName : "-",
          email: googleEmail !== "" ? googleEmail : "-",
          phoneNumber: "-",
          gender: "-",
          jobTitle: "-",
          company: "-",
          nationality: "-",
          dateOfBirth: "-",
          country: "-",
          inCome: "-"
        };

        console.log('Data sent to confirmation page:', userGoogleData);
        vm.$store.commit("addUserInfo", userGoogleData);
        vm.$router.push("/profile");
    },
    googleSignInError (error) {
      console.log('Google login cancelled', error)
    }
  }
};
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

.fb-signin-button, .fb-logout-button {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  display: block;
  width: 100%;
  text-align: center;
  padding: 20px;
  color: #fff;
  background-color: #4267b2;
  cursor: pointer;
}

.fb-logout-button {
  margin-top: 15px;
  display: none;
}

.g-signin-button {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  display: block;
  width: 100%;
  text-align: center;
  padding: 20px;
  color: #ff3e30;
  background-color: #fff;
  cursor: pointer;
  margin-top: 15px;
}
</style>