<template>
  <div>
    <!-- 
        Remove each one of below props to hide field on Registration Form
        
         isFirstname
         isLastname
         isEmail
         isPhone
         isGender
         isJob
         isCompany
         isNationality
         isDob
         isInCome

     -->
    <reg-form isFirstname isLastname isEmail isGender isDob/>
  </div>
</template>
<script>
import regForm from "@/components/registration/regForm";

export default {
  name: "Register",
  components: {
    regForm
  }
};
</script>